@import "../../_mandatory";

[data-template="sectionWelcome"] {
  position: relative;
  height: calc(100vh - 110px);
  .wrapp {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    &_content {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .col {
        &__name {
          width: 100%;
          @media screen and (min-width: $bp-desk-medium) {
            max-width: 600px;
          }
        }
        &_1 {
          width: 75%;
          @media screen and (max-width: $bp-desk-medium) {
            width: 100%;
          }
        }
        &_2 {
          position: absolute;
          width: 15%;
          height: 100%;
          top: 0;
          right: 0;
          overflow: hidden;

          @media screen and (max-width: $bp-desk-medium) {
            display: none;
          }

          #slider {
            overflow: unset;
          }
        }
      }
    }
    .scroll {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      &_down {
        @media screen and (max-width: $bp-desk-medium) {
          font-size: 12px;
        }
      }
    }
  }
}
