@import "../variables";

[data-template="sectionFooter"] {
  position: relative;
  padding: 10px 0;
  background-color: $black;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background-color: $grey-border;
  }
  .footer {
    background: $black;
    &_content {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      justify-items: center;
    }
    &__mentions {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @media screen and (max-width: $bp-smartphone-xlarge) {
        width: 50%;
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-items: center;
        margin: 0;
        @media screen and (max-width: $bp-smartphone-xlarge) {
          flex-flow: column;
        }
        li {
          font-size: 15px;
          position: relative;
          list-style: none;
          @media screen and (max-width: $bp-smartphone-xlarge) {
            font-size: 10px;
          }
          span {
            padding: 10px;
            @media screen and (max-width: $bp-smartphone-xlarge) {
              display: none;
            }
          }
        }
      }
    }
    &__medias {
      width: 30%;
      @media screen and (max-width: $bp-smartphone-xlarge) {
        width: 50%;
      }

      ul {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-items: center;
        margin: 0;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5em;
          position: relative;
          list-style: none;
          width: calc(100% / 4);
          @media screen and (max-width: $bp-smartphone-xlarge) {
            font-size: 1em;
            width: calc(100% / 2);
          }
        }
      }
    }
  }
}
