[data-template="section404"] {
  position: relative;
  //la hauteur de la page moins les padding 20px * 2 et la
  // la hauteur du header et la hauteur du footer
  height: calc(100vh - (40px) - 70px - 68px);

  // display: flex;
  // align-items: center;
  // justify-content: center;

  .slider {
    &_wrap {
      // height: calc(100vh - (130px));
      height: 100%;
    }
    &__content {
      height: 90%;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      justify-content: center;

      .link {
        &_homepage {
          position: relative;
          font-family: "Raleway", sans-serif;
          font-size: 20px;
          color: $white;
          padding-top: 20px;
          @media screen and (max-width: $bp-smartphone-xlarge) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
