@import "../variables";

[data-template="sectionAbout"] {
  position: relative;
  width: 100%;
  overflow: hidden;
  .wrapp {
    padding: 30px 0;
    .intro {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .col {
        width: calc(100% / 3);
      }

      &-paragraph {
        font-size: 20px;
        max-width: 400px;
      }
      &-image {
        width: 250px;
        height: 250px;
        background-color: purple;
      }
    }
  }
}

.inner {
  @media screen and(min-width: $bp-tablet) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .col {
    width: calc(100% / 3);
    h2 {
      font-size: 35px;
    }

    li {
      list-style: none;
      span {
        font-size: 16px;
      }
      a {
      }
    }
    &-1 {
      .list {
        &-experience,
        &-formations {
          li {
            margin: 15px 0;
          }
        }
      }
    }
  }
  .slider {
    display: none;
    @media screen and(min-width: $bp-tablet) {
      display: block;
      position: absolute;
      top: 0;
    }
  }
}
