@import "_font-awesome/fontawesome";

@import "_variables.scss";
@import "_reset.scss";
@import "_svg.scss";
@import "_path.scss";
@import "_body.scss";
@import "_mixins.scss";
// //Structure
// @import "structure/header.scss";
// @import "structure/footer.scss";
// @import "structure/slider.scss";
// @import "structure/menu.scss";

// //Pages
// @import "pages/404.scss";

// //Homepage
// @import "components/homepage/section-welcome.scss";
// @import "components/homepage/section-projects.scss";

// //About 
// @import "components/about/section-about.scss";


* , body{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: $black;
  // margin: 20px 50px;
  color: $white;
  @media screen and (max-width: $bp-tablet) {
    // margin: 20px 30px;
  }
  &.own-html {
    &:not(.wf-active) {
      .loader {
        opacity: 0;
        pointer-events: none;
        transition: 1s ease-out all;
      }
    }
  }
}

body {
  //Uppercase
  .up {
    text-transform: uppercase;
  }

  //Skin les <a>

  a {
    color: $white;
  }

  //Reset Ul qui ont un padding-left: 30px
  ul {
    padding: 0;
  }

  //Animation du trait sous certains links
  .hover-line {
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: $white;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.5s;
    }
    &:hover {
      color: $white;
    }
    &:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  //hover des pictos

  .hover-picto {
    &:hover {
      background: -moz-linear-gradient(45deg, #37E5B4, #CA10D7);

    }
  }

  //H1 responsive
  h1 {
    font-weight: $semibold;
    color: $white;
    font-size: 3em;
    @media screen and (max-width: $bp-desk-medium) {
      font-size: 30px;
      text-align: center;
    }
    @media screen and (max-width: $bp-tablet) {
      font-size: 18px;
      text-align: center;
    }
  }

  //H2 responsive
  h2 {
    font-weight: $bold;
    color: $white;
    font-size: 70px;
    text-transform: uppercase;
    @media screen and (max-width: $bp-desk-medium) {
      font-size: 50px;
    }
    @media screen and (max-width: $bp-tablet) {
      font-size: 30px;
    }
  }

  //H3 responsive
  h3 {
    font-weight: $normal;
    color: $white;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    @media screen and (max-width: $bp-desk-medium) {
      font-size: 20px;
    }
    @media screen and (max-width: $bp-tablet) {
      font-size: 18px;
    }
  }
}
